<b>WORKING WITH SET OPERATIONS</b>

<b>UNION OPERATIONS </b>

In [25]:
import numpy as np
engineers=set(["John","Jane",'Jack',"Janice"])

In [26]:
samson=set(["John","Jane"])

samson|engineers

{'Jack', 'Jane', 'Janice', 'John'}

In [27]:
np.union1d(samson, engineers)

array([{'John', 'Jane'}, {'John', 'Janice', 'Jack', 'Jane'}], dtype=object)

In [28]:
samson&engineers

{'Jane', 'John'}

In [29]:
samson-engineers

set()

In [30]:
samson.add("Kunle")

In [31]:
samson

{'Jane', 'John', 'Kunle'}

<b>Elements in a set1 and not in another set2</b>

In [32]:
np.setdiff1d(samson, engineers)

array([{'John', 'Kunle', 'Jane'}], dtype=object)

In [35]:
#Compute a boolean array indicating whether each element of x is contained in y
sams=np.array(["John","Jane"])
Engr=np.array(["John","Jane",'Jack',"Janice"])

np.in1d(Engr,sams)

array([ True,  True, False, False])

In [30]:
for group in [samson,engineers]:
    print(group)

{'Kunle', 'John', 'Jane'}
{'Janice', 'Jack', 'Jane', 'john'}

In [33]:
for group in [samson,engineers]:
    print(group.discard('janice'))

None
None

In [37]:
#Set difference, elements in x that are not in y
np.setdiff1d(Engr,sams)

array(['Jack', 'Janice'], dtype='<U6')